/* div dos 2 Links */
.botesConta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;

}

/* O a (que é link no html) é o Link (react) */
#btCadastre > a {
    color: var(--dark-gray-2);
    font-size: 16px;
}

#btEntrar {
    width: 114px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 4px;
    
}
/* tive que fazer isso pois não estava parecido com o modelo */
#btEntrar {
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
