/* div dos 2 Links */
.botesContaMob {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: relative;
    top: 260px;
}

/* O a (que é link no html) é o Link (react) */
#btCadastreMob > a {
    color: var(--dark-gray-2);
    font-size: 16px;
}

#btEntrarMob {
    width: 414px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 8px;
    
}
/* tive que fazer isso pois não estava parecido com o modelo */
#btEntrarMob {
    color: var(--white);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
