/* footer.css */

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--white);
}

/* div que envolve a divMain e a divInfo */
.divMainAndInfo {
    width: 85%;
    display: flex;
    flex-flow: row wrap;
    padding: 60px 0 10px 0;
    /* background-color: blue; */
}

/* div que envolve o componente Logo.jsx,
<p>,  e redes sociais */
.divMain {
    width: 400px;
    height: 250px;
    display: flex;
    flex-flow: column;
    gap: 25px;
    padding-right: 60px;
    margin-right: 110px;
    margin-bottom: 20px;
    /* background-color: aquamarine; */
}

.logosSocial {
    display: flex;
    flex-flow: row nowrap;
    gap: 35px;
}

/* div de duas infos */
.twoInfo {
    display: flex;
    flex-flow: row nowrap;
    gap: 0px;
    /* background-color: blueviolet; */
}

.finalLine {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 85%;
    height: 1px;
}