/* footer.css */

footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 0;
}

/* .containerFooter {
    width: 100%;
    padding: 60px 0 0 0;
    background-color: blue;
} */

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    background-color: rgb(166, 255, 0);
}
.divMain {
    width: 400px;
    height: 250px;
    display: flex;
    flex-flow: column;
    gap: 25px;
    background-color: aquamarine;
}

.logosSocial {
    display: flex;
    flex-flow: row nowrap;
    gap: 35px;
}

.divInfo {
    background-color: bisque;
    display: flex;
    flex-flow: row wrap;
    gap: 0px;
}

.twoInfo {
    background-color: blueviolet;
    display: flex;
    flex-flow: row nowrap;
    gap: 0px;
}

.finalLine {
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    height: 1px;
}