/* gallery.css */

.containerGallery {
    /* width: 1200px; */
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* estilo da div da imagem grande */
.galleryOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: beige; */

}

/* .arrowsGallery {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 20px;
} */

/* estilos seta direita */
.arrowRight {
    position: absolute;
    /* top: 340px; */
    right: 50px;
    
}

.arrowRight > img {
    cursor: pointer;
}

/* estilos seta esquerda */
.arrowLeft {
    position: absolute;
    /* top: 340px; */
    left: 50px;
}

.arrowLeft > img {
    cursor: pointer;
}

/* estilo div miniatura */
.divMiniatura {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
}

.divMiniatura > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 30px;
}

.divOneThumb:active {
    border: 2px solid var(--primary);
}

.divMiniatura > ul {
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    
}

.divMiniatura > ul > li {
    list-style: none;
}

@media screen and (min-width: 700px) {
    .imgGallery{
        width: 100px;
        height: 100px;
    }
}