/* homePage.css */

.divConteudo {
    
    display: flex;
    flex-flow: column;
    
    background-color: var(--light-gray-3);
}

@media screen and (max-width: 700px) {
    .compGallery{
        width: 500px;
        height: 500px;
    }
}