.divProductListPage {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--light-gray-3);
    padding: 10px 35px;
}

.divLateral {
    padding: 55px 0 0 0px;
}

/* estilos Ordenar por */
.divOrder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: aqua; */
    padding-bottom: 15px;
}

.titleOrder, .order {
    color: var(--dark-gray-2);
    font-size: 16px;
}

.order {
    width: 308px;
    height: 60px;
    border: none;
    outline: none;
}

.order:focus {
    border: 2px solid var(--primary);
}

.order > option:hover {
    accent-color: var(--primary);
}

/* estilo filtro */
.divfilter {
    width: 308px;
    
    background-color: var(--white);
    padding: 30px 20px;
}

.labelFilter {
    color: var(--dark-gray-2);
    font-size: 16px;
    
}

.linefilter {
    border: 1px solid var(--light-gray-2);
    margin: 20px 0;
}

/* resposividade da página */
@media screen and (max-width: 800px) {
    .divProductListPage {
        flex-flow: row wrap;
    }
}
